{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "add-module-exports",
    ["module-alias", [ {
      "src": "./src",
      "expose": "@"
    }]],
    "transform-runtime"
  ]
}